html { box-sizing: border-box;}
*,
*::before,
*::after { box-sizing: inherit;}

img {display:block;}
.container {width: 1110px; margin: 0 auto; padding: 0;}

.month {float: left; margin: 38px 0 0 0; font-size: 32px; font-family: 'Roboto', sans-serif; font-weight: 300; text-transform: uppercase;}
.month::first-letter {font-weight: 900; color:#1abc9c;}



.main-menu {float: right; margin: 46px 0 0; padding: 0;}
.main-menu li {float: left; list-style: none;margin-right: 30px;}
.main-menu a {font-family: 'Open Sans', sans-serif;color: #000000; font-weight: 700; font-size: 14px; text-transform: uppercase; text-decoration: none;}
.main-menu li a:hover {color:#1abc9c;}
.main-menu li:last-child {margin: 0;}

.clearfix::after {display: table; content: ""; clear: both;}

.topic {font-size: 48px; text-align: center; margin: 0; padding-top: 104px; font-family: 'Roboto', sans-serif; font-weight: 900; text-transform: uppercase; position: relative;}
.topic::after {content: ''; position: absolute; border: none; height: 7px; width: 160px; bottom: -32px; left: 50%; transform: translatex(-50%); background-color: #4ec6ab;}

.product{float: left; font-size: 0; float: left; background-color: rgb(233, 240, 253); margin:92px 0 30px 30px ;}
.placing-prod :nth-child(4n-2) {margin-left: 0;}
.product h3 {float: left; height: 40px; line-height: 40px; vertical-align: bottom; font-family: 'Roboto', sans-serif; font-size: 18px; color: #fff; margin: 0; width: 200px; background: rgb(50, 50, 50); text-align: center;}
.product h4 {float: right; height: 40px; line-height: 40px; vertical-align: bottom; font-family: 'Roboto', sans-serif; font-size: 18px; color: #fff; margin: 0; width: 55px; background: rgb(140,140,140); text-align: center;}

.product:hover h3 {background: #4ec6ab;}
.product:hover h4 {background: #7fd9c7;}

.news {float: left; height: 620px;width: 350px; font-size: 0; margin: 0 0 0 30px; padding-top:116px;}
.news h3 {float: left; height: 64px; margin: 0; padding: 10px 0 6px; font-size: 18px; font-family: 'Open Sans', sans-serif;overflow: hidden;font-weight: 600; position: relative; }
.news h3::after {float: left; content: ''; position: absolute; border: none; height: 3px; width: 136px; bottom: 0; left: 0; background-color: #4ec6ab;}
.news h4 {float: left; height: 106px; margin: 0; padding: 28px 0 18px; font-size: 18px; font-family: 'Open Sans', sans-serif;overflow: hidden;font-weight: 300;}

.placing-news :nth-child(2) {margin-left: 0;}
.more-news {float: left; margin: 18px 0 0; border: none; height: 52px; width: 160px; vertical-align:bottom; background-color:#4ec6ab; font-family: 'Open Sans', sans-serif; font-weight: 300; color: #fff;text-transform: capitalize;}
